#header {
    background-color: aquamarine;
    text-align: center;
    width:fit-content;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    border: 5px solid black;
}
body {
    background-color:blueviolet;
    font-family: cursive;
}
#birthday {
    width: fit-content;
    margin: auto;
}
#audio {
    background-color:bisque;
    width:fit-content;
    padding: 10px;
    margin: auto;
    border:5px solid black;
}